# CODEOWNERS - All changes to the CLA repo require admin approval
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @jan-kubica
